h1{
  font-family: 'Montserrat', sans-serif;
  margin-left:50px ;
}

.date{
  font-family: 'Roboto', sans-serif;
  color: #008080;
  margin-left: 50px;
  padding-top: 30px;
}

.post-content{
  font-family: 'Open Sans', sans-serif;
  margin: auto 100px 20px 50px;
  padding-bottom: 25px;
}

.post-container{
  background-color: #fffafa;
  margin: auto 300px auto 300px;
  line
}



